.content_11{height: 400px;
	padding-top: 50px;
	text-align: center;
	background-image: url("/img/dark-blur-blurred-gradient.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	}
	.content_12{
	height: 500px;

	padding-top: 50px;
	text-align: center;
	background-image: url("/img/analysis-banking-businesswoman-1451448.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	}
	.content_cover{
	height: 500px;
	
	padding-top: 50px;
	text-align: center;
	background-image: url("/img/analysis-banking-businesswoman-1451448.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	}

	.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container1 {
  position: relative;
  text-align: center;
  color: white;
  overflow:hidden;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

h3{font-size: 30px;}

