.navbar{
	position: fixed;
	width: 100%;

	background-color: transparent;

	border: none;

	z-index: 100;

	padding-top: 5px;
	padding-bottom: 10px;
}
.navbar_hover{
	background-color: #fff;
	color: #000;
}
.navbar_scroll{
	background-color: #fff;
	color: #000;
}
#nav_links {
	padding-left: 30px;
}
#nav_links a{
	color: #fff;

	border-bottom: 3px solid transparent;
}
#nav_links a:hover{

	border-bottom: 3px solid #008D23;
}
#nav_logo{
	width: 200px;
	background-image: url("/img/gdtek-logo-white.png");
	background-size: cover;
}
.nav_logo_hover{
	width: 200px !important;
	background-image: url("/img/logo_black.png") !important;
	background-size: cover !important;
}
.nav_logo_scroll{
	width: 200px !important;
	background-image: url("/img/logo_black.png") !important;
	background-size: cover !important;
}
.hover_links{
	color: #000 !important;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;

  color: #fff;
  height: 700px;
  padding-top: 400px;
  padding-bottom: 100px;

  width: 100%;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:inherit;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}
.jumbotron .btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;

	/*color: #FF4D00;*/
	margin-top: 10px;
}
.jumbotron .btn:hover{
	border-color: #FF4D00;
	border: solid;
	border-radius: 30px;
	background-color: #FF4D00;

	/*color: #FF4D00;*/
	margin-top: 10px;
}
.j_content{
	margin-top: 300px;

	color: #fff;
}
.content_3{
	background-color: #9b5e63;
	color: #fff;

	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 30px;
}
.content_3 h4{
	font-weight: bold;
}
.content_4{
	height: 400px;
	padding-top: 100px;
	text-align: center;

	background-image: url("/img/banner.jpg");
	background-size: cover;
	background-attachment: fixed;

	color: #fff;
}
#banner_btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;
}
.footer{
	background-color: #000;
	color: #fff;

	padding-top: 40px;
	padding-bottom: 20px;
}
.carousel-inner{
	max-height: 600px !important;
}
.carousel-inner .btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;
}
@media only screen and (min-width : 1200px) {
  .carousel-caption
  {
    top: 30%;
  }
}
.LEDBasics{
	position: fixed;
	top: 60px;

	z-index: 100;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .LEDBasics a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .nav_about a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .faq a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .nav_about{
	position: fixed;
	top: 60px;

	z-index: 100;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .faq{
	position: fixed;
	top: 60px;

	z-index: 100;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .faq h4{
  	font-weight: bolder;
  }
  .faq a{
  	color: #FF4D00;
  }
  .nav_about h4{
  	font-weight: bolder;
  }
  .LEDBasics h4{
  	font-weight: bolder;
  }
.bulb_pic{
	width: 160px;
	height: 160px;

	background-image: url("/img/LED_bulb.jpg");
	background-size: cover;
}
.waterproofing{
	width: 160px;
	height: 160px;

	background-image: url("/img/waterproofing.jpg");
	background-size: cover;
}
.sign{
	width: 160px;
	height: 160px;

	background-image: url("/img/sign.jpg");
	background-size: cover;
}
.footer ul{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}
#social_icon {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}
#social_media li{
	display: inline-block;
	padding-right: 30px;

	margin-top: 50px;
	margin-bottom: 40px;

}
#social_media a{
	color: #525252;
}
#footer_content{
	border-bottom: 3px solid #5f5f5f;
	padding-bottom: 80px;

	color: #5f5f5f;
}
#footer_content a{
	color: #5f5f5f;
	text-decoration: none;
}
#footer_content h4{
	color: #8a8a8a;

}
#footer_content i{
	font-size: 18px;
}
 #map iframe {
   width: 100%;
   height: 400px;
   background-color: grey;

  /* padding-left: 20px;
   padding-right: 20px;*/

   margin-top: 30px;
   
 }
 .location_content{
 	padding-top: 40px;

 	text-align: center;
 }
 @media only screen and (max-width: 768px){
 	.location_content{
 		padding-top: 40px;

 		text-align: left;
 	}
 }
 .contact_header{
 	text-align: center;
 }
 .textbox{
 	width: 100%;
 	height: 40px;

 	margin-top: 10px;
 	margin-bottom: 10px;

 	padding-left: 10px;

 	border: solid 1px #5f5f5f ;
 	border-radius: 30px;

 }
 .t_textarea{
 	margin-top: 10px;
 	width: 100%;
 	height: 200px;

 	padding-left: 10px;
 	padding-top: 10px;

 	border: solid 1px #5f5f5f ;
 	border-radius: 30px;
 }
 ./*c_form{
 	text-align: center;
 }*/
.contact_form{
	margin-top: 30px;
}
.contact_header{
	padding-bottom: 30px;
}
.form_btn{

	width: 200px;
	height: 35px;

	background-color: #FF4D00; 
	border: none;
	border-radius: 30px;

	color: #fff;
}
.call_to_actions{

	padding-top: 30px;
	padding-bottom: 30px;

	background-color: #d4d4d4;
}
.call_to_actions a{

	background-color: #282828;
	border: none;
	border-radius: 30px;

	width: 200px;
}

.call_to_actions a:hover{

	background-color: #FF4D00;
	border: none;
	border-radius: 30px;

	width: 200px;
}
.image1{
	width: 100%;
	height: 620px;

	margin-bottom: 20px;

	background-image: url("/img/ball-bling-blur-568948.jpg");
	background-size: cover;
}
.image2_wrapper{
	height: 290px;
    overflow: hidden; 

     margin-bottom: 20px;

/*	padding-left: 20px;
	padding-right: 20px;*/

	/*padding-top: 160px;*/

}
.image3_wrapper{
	height: 290px;
    overflow: hidden; 

     margin-bottom: 20px;

/*	padding-left: 20px;
	padding-right: 20px;*/

	/*padding-top: 160px;*/

}
.image2{
	width: 100% !important;
	height: 100% !important;

	background-image: url("/img/bedroom-bulb-furniture-545048.jpg");
	background-size: cover;

	 transition: all 0.5s ease;
}
.image3{
	width: 100% !important;
	height: 100% !important;

	background-image: url("/img/blurred-background-coffee-cup-computer-908284.jpg");
	background-size: cover;

	 transition: all 0.5s ease;
}
.image2_wrapper:hover .image2,
.image2_wrapper:focus .image2 {
  transform: scale(1.1);
}
.image2:hover span,
.image2:focus span {
 	/*padding: 28% 30px 0px 30px;*/
 	  padding: 30% 40px 0px 40px;
 	  display: block;
}
.image2 span{

	  padding: 30% 40px 0px 40px;
	  position: absolute;
	  /*display: none;*/
}
.image3_wrapper:hover .image3,
.image3_wrapper:focus .image3 {
  transform: scale(1.1);
}
.image3:hover span,
.image3:focus span {
 	/*padding: 28% 30px 0px 30px;*/
 	  padding: 30% 40px 0px 40px;
 	  display: block;
}
.image3 span{

	   padding: 30% 40px 0px 40px;
	  position: absolute;
}
.image4{
	width: 100%;
	height: 200px;

	margin-bottom: 20px;

	background-image: url("/img/brass-bulb-classic-1112598.jpg");
	background-size: cover;

	padding-left: 20px;
	padding-right: 20px;

	padding-top: 80px;
}
.image4:hover{
	padding-top: 60px;

	transition: padding-top 0.5s ease;
}
.image5:hover{
	padding-top: 60px;

	transition: padding-top 0.5s ease;
}
.image5{
	width: 100%;
	height: 200px;

	background-image: url("/img/bright-bulb-close-up-266688.jpg");
	background-size: cover;

	padding-left: 20px;
	padding-right: 20px;

	padding-top: 80px;
}
.carousel-inner img{
	height: 100%;
}
.carousel-caption{
	margin-top: 200px;
}
/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }
  .content_2{
  	padding-top: 30px;
  	padding-bottom: 30px;

  	text-align:  center;
  }
   .content_2-5{
  	padding-top: 30px;
  	padding-bottom: 30px;

  	text-align:  center;
  }
  .content_2 a{
  	background-color: #FF4D00;
	border: none;
	border-radius: 30px;

	width: auto;

	margin-top: 20px;
  }
   .content_2-5 a{
 	color: #fff;
 	text-decoration: none;
  }
  .content_2 a:hover{
  	background-color: #FF4D00;
	border: none;
	border-radius: 30px;

	width: auto;

	margin-top: 20px;
  }
  .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;

      padding-top: 150px;

      font-size: 20px;
      color: #fff;
    }
     .swiper-slide a{
     	cursor: pointer;
     }
    .modal-footer .btn{
    	border-radius: 30px;
    	background-color: #FF4D00;

    	color: #fff;

    	z-index: 20px;
    }
    .modal-body .carousel-caption{
    	font-size: 20px;

    	/*background-color: #FF4D00;
    	border-radius: 30px;
*/
    	color: #fff;
    }