.navbar{
	position: fixed;
	width: 100%;

	background-color: transparent;

	border: none;

	z-index: 100;

	padding-top: 5px;
	padding-bottom: 10px;
}
.navbar_hover{
	background-color: #fff;
	color: #000;
}
.navbar_scroll{
	background-color: #fff;
	color: #000;
}
#nav_links {
	padding-left: 30px;
}
#nav_links a{
	color: #fff;

	border-bottom: 3px solid transparent;
}
#nav_links a:hover{

	border-bottom: 3px solid #008D23;
}
#nav_logo{
	width: 200px;
	background-image: url("/img/gdtek-logo-white.png");
	background-size: cover;
}
.nav_logo_hover{
	width: 200px !important;
	background-image: url("/img/logo_black.png") !important;
	background-size: cover !important;
}
.nav_logo_scroll{
	width: 200px !important;
	background-image: url("/img/logo_black.png") !important;
	background-size: cover !important;
}
.hover_links{
	color: #000 !important;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;

  color: #fff;
  height: 100vh;
  padding-top: 50vh;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}
.jumbotron .btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;

	/*color: #FF4D00;*/
	margin-top: 10px;
}
.jumbotron .btn:hover{
	border-color: #FF4D00;
	border: solid;
	border-radius: 30px;
	background-color: #FF4D00;

	/*color: #FF4D00;*/
	margin-top: 10px;
}
.j_content{
	margin-top: 300px;

	color: #fff;
}
.content_3{
	background-color: #9b5e63;
	color: #fff;

	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 30px;
}
.content_3 h4{
	font-weight: bold;
}
.content_4{
	height: 400px;
	padding-top: 100px;
	text-align: center;

	background-image: url("/img/banner.jpg");
	background-size: cover;
	background-attachment: fixed;

	color: #fff;
}
#banner_btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;
}
.footer{
	background-color: #000;
	color: #fff;

	padding-top: 40px;
	padding-bottom: 20px;
}
.carousel-inner{
	max-height: 600px !important;
}
.carousel-inner .btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;
}
@media only screen and (min-width : 1200px) {
  .carousel-caption
  {
    top: 30%;
  }
}
.LEDBasics{
	position: fixed;
	top: 60px;

	z-index: 100;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .LEDBasics a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .nav_about a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .faq a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .nav_about{
	position: fixed;
	top: 60px;

	z-index: 100;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .faq{
	position: fixed;
	top: 60px;

	z-index: 100;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .faq h4{
  	font-weight: bolder;
  }
  .faq a{
  	color: #FF4D00;
  }
  .nav_about h4{
  	font-weight: bolder;
  }
  .LEDBasics h4{
  	font-weight: bolder;
  }
.bulb_pic{
	width: 160px;
	height: 160px;

	background-image: url("/img/LED_bulb.jpg");
	background-size: cover;
}
.waterproofing{
	width: 160px;
	height: 160px;

	background-image: url("/img/waterproofing.jpg");
	background-size: cover;
}
.sign{
	width: 160px;
	height: 160px;

	background-image: url("/img/sign.jpg");
	background-size: cover;
}
.footer ul{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}
#social_icon {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}
#social_media li{
	display: inline-block;
	padding-right: 30px;

	margin-top: 50px;
	margin-bottom: 40px;

}
#social_media a{
	color: #525252;
}
#footer_content{
	border-bottom: 3px solid #5f5f5f;
	padding-bottom: 80px;

	color: #5f5f5f;
}
#footer_content a{
	color: #5f5f5f;
	text-decoration: none;
}
#footer_content h4{
	color: #8a8a8a;

}
#footer_content i{
	font-size: 18px;
}
 #map iframe {
   width: 100%;
   height: 400px;
   background-color: grey;

   padding-left: 20px;
   padding-right: 20px;

   margin-top: 30px;
 }
 .location_content{
 	text-align: center;
 	padding-top: 40px;
 }
 .contact_header{
 	text-align: center;
 }
 .textbox{
 	width: 300px;
 	height: 40px;

 	margin-top: 10px;
 	margin-bottom: 10px;

 	padding-left: 10px;
 }
 .t_textarea{
 	margin-top: 10px;
 	width: 1080px;
 	height: 200px;

 	padding-left: 10px;
 	padding-top: 10px;
 }
 .c_form{
 	text-align: center;
 }
.contact_form{
	margin-top: 30px;
}
.contact_header{
	padding-bottom: 30px;
}
.form_btn{

	width: 200px;
	height: 35px;

	background-color: #FF4D00; 
	border: none;
	border-radius: 30px;

	color: #fff;
}
.call_to_actions{

	padding-top: 30px;
	padding-bottom: 30px;

	background-color: #d4d4d4;
}
.call_to_actions a{

	background-color: #282828;
	border: none;
	border-radius: 30px;

	width: 200px;
}

.call_to_actions a:hover{

	background-color: #FF4D00;
	border: none;
	border-radius: 30px;

	width: 200px;
}