.navbar{
	position: fixed;
	width: 100%;

	background-color: transparent;

	border: none;

	z-index: 100;

	padding-top: 5px;
	padding-bottom: 10px;
}
.navbar_hover{
	background-color: #fff;
	color: #000;
}
.navbar_scroll{
	background-color: #fff;
	color: #000;
}
#nav_links {
	padding-left: 30px;
}
#nav_links a{
	color: #fff;

	border-bottom: 3px solid transparent;
}
#nav_links a:hover{

	border-bottom: 3px solid #008D23;
}
#nav_logo{
	width: 200px;
	background-image: url("/img/gdtek-logo-white.png");
	background-size: cover;
}
.nav_logo_hover{
	width: 200px !important;
	background-image: url("/img/logo_black.png") !important;
	background-size: cover !important;
}
.nav_logo_scroll{
	width: 200px !important;
	background-image: url("/img/logo_black.png") !important;
	background-size: cover !important;
}
.hover_links{
	color: #000 !important;
}
.jumbotron {
  position: relative;
  overflow: hidden;
/*  background-color:black;*/

  background-image: url("/img/bg2.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed;

  color: #000;
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 100px;

  width: 100%;
}
/*.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:inherit;
  height:100%;
  /*  object-fit is not supported on IE  
  object-fit: cover;
  opacity:0.5;
}*/
.jumbotron .container {
  z-index: 2;
  position: relative;
}
.jumbotron .btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;

	/*color: #FF4D00;*/
	margin-top: 10px;
}
.jumbotron .btn:hover{
	border-color: #FF4D00;
	border: solid;
	border-radius: 30px;
	background-color: #FF4D00;

	/*color: #FF4D00;*/
	margin-top: 10px;
}
.j_content{
	margin-top: 300px;

	color: #fff;
}
.content_3{
	background-color: #9b5e63;
	color: #fff;

	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 30px;
}
.content_3 h4{
	font-weight: bold;
}
.content_4{
	height: 400px;
	padding-top: 100px;
	text-align: center;

	background-image: url("/img/banner.jpg");
	background-size: cover;
	background-attachment: fixed;

	color: #fff;
}
#banner_btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;
}
.footer{
	background-color: #000;
	color: #fff;

	padding-top: 40px;
	padding-bottom: 20px;
}
.carousel-inner{
	max-height: 600px !important;
}
.carousel-inner .btn{
	border-color: #fff;
	border: solid;
	border-radius: 30px;
	background-color: transparent;
}
@media only screen and (min-width : 1200px) {
  .carousel-caption
  {
    top: 30%;
  }
}
.LEDBasics{
	position: fixed;
	top: 60px;

	z-index: 200;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .LEDBasics a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .nav_about a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .faq a{
  	color: #FF4D00;
  	cursor: pointer;

  	text-decoration: none;
  }
  .nav_about{
	position: fixed;
	top: 60px;

	z-index: 200;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .faq{
	position: fixed;
	top: 60px;

	z-index: 200;

	background-color: #fff;

	padding-top: 30px;
	padding-bottom: 40px;

	display: none;

	width: 100%;
	transition: 500ms ease;
  }
  .faq h4{
  	font-weight: bolder;
  }
  .faq a{
  	color: #FF4D00;
  }
  .nav_about h4{
  	font-weight: bolder;
  }
  .LEDBasics h4{
  	font-weight: bolder;
  }
.bulb_pic{
	width: 160px;
	height: 160px;

	background-image: url("/img/LED_bulb.jpg");
	background-size: cover;
}
.waterproofing{
	width: 160px;
	height: 160px;

	background-image: url("/img/waterproofing.jpg");
	background-size: cover;
}
.sign{
	width: 160px;
	height: 160px;

	background-image: url("/img/sign.jpg");
	background-size: cover;
}
.footer ul{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}
#social_icon {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}
#social_media li{
	display: inline-block;
	padding-right: 30px;

	margin-top: 50px;
	margin-bottom: 40px;

}
#social_media a{
	color: #525252;
}
#footer_content{
	border-bottom: 3px solid #5f5f5f;
	padding-bottom: 80px;

	color: #5f5f5f;
}
#footer_content a{
	color: #5f5f5f;
	text-decoration: none;
}
#footer_content h4{
	color: #8a8a8a;

}
#footer_content i{
	font-size: 18px;
}
 #map iframe {
   width: 100%;
   height: 400px;
   background-color: grey;

  /* padding-left: 20px;
   padding-right: 20px;*/

   margin-top: 30px;
   
 }
 .location_content{
 	padding-top: 40px;

 	text-align: center;
 }
 @media only screen and (max-width: 768px){
 	.location_content{
 		padding-top: 40px;

 		text-align: left;
 	}
 }
 .contact_header{
 	text-align: center;
 }
 .textbox{
 	width: 100%;
 	height: 40px;

 	margin-top: 10px;
 	margin-bottom: 10px;

 	padding-left: 10px;

 	border: solid 0.5px #e5e5e5 ;
 	border-radius: 30px;

 	background-color: #e5e5e5;
 	color: #000;

 }
 .t_textarea{
 	margin-top: 10px;
 	width: 100%;
 	height: 200px;

 	padding-left: 10px;
 	padding-top: 10px;

 	border: solid 0.5px #e5e5e5 ;
 	border-radius: 30px;

 	background-color: #e5e5e5;
 	color: #000;
 }
 input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}
 ./*c_form{
 	text-align: center;
 }*/
.contact_form{
	margin-top: 30px;
}
.contact_header{
	padding-bottom: 30px;
}
.form_btn{

	width: 200px;
	height: 35px;

	background-color: #FF4D00; 
	border: none;
	border-radius: 30px;

	color: #fff;
}
.call_to_actions{

	padding-top: 30px;
	padding-bottom: 30px;

	background-color: #d4d4d4;
}
.call_to_actions a{

	background-color: #282828;
	border: none;
	border-radius: 30px;

	width: 200px;
}

.call_to_actions a:hover{

	background-color: #FF4D00;
	border: none;
	border-radius: 30px;

	width: 200px;
}
.image1{
	width: 100%;
	height: 620px;

	margin-bottom: 20px;

	background-image: url("/img/ball-bling-blur-568948.jpg");
	background-size: cover;
}
.image2_wrapper{
	height: 290px;
    overflow: hidden; 

     margin-bottom: 20px;

/*	padding-left: 20px;
	padding-right: 20px;*/

	/*padding-top: 160px;*/

}
.image3_wrapper{
	height: 290px;
    overflow: hidden; 

     margin-bottom: 20px;

/*	padding-left: 20px;
	padding-right: 20px;*/

	/*padding-top: 160px;*/

}
.image2{
	width: 100% !important;
	height: 100% !important;

	background-image: url("/img/bedroom-bulb-furniture-545048.jpg");
	background-size: cover;

	 transition: all 0.5s ease;
}
.image3{
	width: 100% !important;
	height: 100% !important;

	background-image: url("/img/night-square.jpg");
	background-size: cover;

	 transition: all 0.5s ease;
	 color: #fff;
}
.image2_wrapper:hover .image2,
.image2_wrapper:focus .image2 {
  transform: scale(1.1);
}
.image2:hover span,
.image2:focus span {
 	/*padding: 28% 30px 0px 30px;*/
 	  padding: 30% 40px 0px 40px;
 	  display: block;
}
.image2 span{

	  padding: 30% 40px 0px 40px;
	  position: absolute;
	  /*display: none;*/
}
.image3_wrapper:hover .image3,
.image3_wrapper:focus .image3 {
  transform: scale(1.1);
}
.image3:hover span,
.image3:focus span {
 	/*padding: 28% 30px 0px 30px;*/
 	  padding: 30% 40px 0px 40px;
 	  display: block;
}
.image3 span{

	   padding: 30% 40px 0px 40px;
	  position: absolute;
}
.image4{
	width: 100%;
	height: 200px;

	margin-bottom: 20px;

	background-image: url("/img/brass-bulb-classic-1112598.jpg");
	background-size: cover;

	padding-left: 20px;
	padding-right: 20px;

	padding-top: 80px;
}
.image4:hover{
	padding-top: 60px;

	transition: padding-top 0.5s ease;
}
.image5:hover{
	padding-top: 60px;

	transition: padding-top 0.5s ease;
}
.image5{
	width: 100%;
	height: 200px;

	background-image: url("/img/bright-bulb-close-up-266688.jpg");
	background-size: cover;

	padding-left: 20px;
	padding-right: 20px;

	padding-top: 80px;
}
.carousel-inner img{
	height: 100%;
}
.carousel-caption{
	margin-top: 200px;
}
/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: transparent; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease; 
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }
  .content_2{
  	padding-top: 30px;
  	padding-bottom:50px;

    background-color: #282828;
    color: #fff;

  	text-align:  center;

    /*margin-top: -30px;*/
  }
   .content_2-5{
  	padding-top: 30px;
  	padding-bottom: 30px;

  	text-align:  center;
  }
  .content_2 a{
  	background-color: #FF4D00;
	border: none;
	border-radius: 30px;

	width: auto;

	margin-top: 20px;
  }
   .content_2-5 a{
 	color: #fff;
 	text-decoration: none;
  }
  .content_2 a:hover{
  	background-color: #FF4D00;
	border: none;
	border-radius: 30px;

	width: auto;

	margin-top: 20px;
  }
  .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;

      padding-top: 150px;

      font-size: 20px;
      color: #fff;
    }
     .swiper-slide a{
     	cursor: pointer;
     }
    .modal-footer .btn{
    	border-radius: 30px;
    	background-color: #FF4D00;

    	color: #fff;

    	z-index: 20px;
    }
    .modal-body .carousel-caption{
    	font-size: 20px;

    	/*background-color: #FF4D00;
    	border-radius: 30px;
*/
    	color: #fff;
    }
    .led_basics{
    	width: 100%;
    	height: 900px;

    	background-image: url("/img/bg.jpg");
    	background-size: cover;

    	background-attachment: fixed;
    }
    .categories{
    	margin-top: 150px;

    	text-align: center;
    	text-decoration: none;

    	color: #000;
    }
    .categories a{
    	color: #000;
    	cursor: pointer;
    }
     .categories a:hover{
    	color: #FF4D00;
    	cursor: pointer;

    	text-decoration: none;
    }
    .cat_link{
      color: #000 !important;
      cursor: pointer;

      font-weight: bolder;
    }
     .cat_link:hover{
      color: #000;
      cursor: pointer;

      text-decoration: none;
    }
    .led_bulb_typess{
    	height: 500px;
    	width: 100%;

    	/*background-image: url("/img/photo-1547378526-863ec732bc0c.jpg");
    	background-size: cover;
    	background-position: center;*/

      background-color: #c2c2c2;

    	text-align: center;

    	padding-top: 160px;
    }
    .water_proofing{
    	height: 500px;
    	width: 100%;

    /*	background-image: url("/img/photo-1542405160221-f5b46efdb363.jpg");
    	background-size: cover;
    	background-position: center;*/

      background-color: #c2c2c2;

      text-align: center;

      padding-top: 160px;
    }
    .choosing_a_sign{
    	height: 500px;
    	width: 100%;

    /*	background-image: url("/img/night-square.jpg");
    	background-size: cover;
    	background-position: center;
*/  
    background-color: #c2c2c2;

      text-align: center;

      padding-top: 160px;
    }
    .led_bulb_typess:hover, .water_proofing:hover, .choosing_a_sign:hover {
    	/*padding-top: 120px;*/
    	transform: scale(1.05);

    	transition: all 500ms ease;

    	box-shadow: 0px 10px 20px #282828;
    }
   .Led_captions{
   	text-align: center;
   }
   .col_about_us{
    background-color: #fff;

    padding-top: 50px;
    padding-bottom: 50px;
   }
   #j_carousel{
    height:  500px;

    background: transparent;
   }
   #nav_logo_2{
      width: 200px !important;
      background-image: url("/img/gdtek-logo-white.png") !important;
      background-size: inherit !important;
   }
   .catalog_banner{
    background-image: url("/img/bg3.jpg") !important;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   width: 100%;

    color: #000;
    height: 500px;
   }
   .catalog_lamp{
    background-image: url("/img/lamp_bg.jpg") !important;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   width: 100%;

    color: #000;
    height: 500px;
   }
   .catalog_banner img{
    float: left;
    padding-top: 200px;
   }
   .catalog_lamp img{
    float: left;
    padding-top: 200px;
   }
   .processor_img{
      background-image: url("/img/processor.png") !important;
       background-size: cover;

       height: 500px;
       width: 500px;

       margin-top: -50px;
   }
   .catalog_processor li, .catalog_processor p, .catalog_processor ul{
    font-size: 18px;
    /*list-style-type: none;*/
   }
   .catalog_processor{
    padding-top: 30px;
    padding-bottom: 30px;
   /* background-color: #FF4D00;
    color: #fff;*/
   }
   .cat_header{
   text-align: center;
   }
   #main_Carousel{
      height: 800px;
      width: 100%;
   }
   #main_Carousel .carousel-inner{
       width: 100%;
      max-height: 800px !important;

    /*   -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;*/
   }
    .carousel-inner .item{
       width: 100%;
       height: 800px !important;

       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }
   .ad1 {
    background: url("/img/slide_bg1.jpg") no-repeat center center fixed; 
}
.ad2 {
    background: url("/img/bg.jpg") no-repeat center center fixed; 
}
.ad3 {
    background: url("/img/bg.jpg") no-repeat center center fixed; 
}
.ad4 {
    background: url("/img/bg.jpg") no-repeat center center fixed; 
}
.ad5 {
    background: url("/img/bg.jpg") no-repeat center center fixed; 
}
#ad1_caption{
  color: #a9a9a9;

  margin-top: -120px;
  padding-top: 0;

  text-align: center;
}
#ad_caption{
  color: #383838;

  margin-top: -120px;
  padding-top: 0;
}
#ad1_caption h1{
  font-size: 60px;
}
#ad_caption h1{
  font-size: 100px;
}
#ad_caption h2{
  font-size: 50px;
  margin-top: -10px;
}
.ad1_img{
  height: 600px;
  width: 600px;

  margin-top: -30px;

  background-image: url("/img/product.png") !important;
  background-size: cover;

  z-index: 5;
}
.ad2_img{
  height: 700px;
  width: 700px;

  margin-top: -10px;

  background-image: url("/img/product2.png") !important;
  background-size: cover;

  z-index: 5;
}
.ad3_img{
  height: 700px;
  width: 700px;

  margin-top: -10px;

  background-image: url("/img/product3.png") !important;
  background-size: cover;

  z-index: 5;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}